<div class="home__container">
    <app-card gameCover="assets/bf1.jpg"
       gameLabel="PS5 | PS4"    
       gameType="DIGITAL PS5 | PS4"
       gamePrice="R$ 299,90"
    >
    </app-card>
    <app-card gameCover="assets/fallout4.png"
        gameLabel="PS5"    
        gameType="DIGITAL PS5"
        gamePrice="R$ 269,90"        
        >
    </app-card>
    <app-card gameCover="assets/The_Last_of_Us.png"
        gameLabel="PS4"   
        gameType="DISC | PS4" 
        gamePrice="R$ 105,00"        
    >
    </app-card>

</div>

